<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rezervace</title>
</head>
<body>
<nav>
  <a href="{% url 'zbr_index' %}">Zbrane</a> |
  <a href="{% url 'zam_index' %}">Zamestnanci</a> |
  <a href="{% url 'zak_index' %}">Zakaznici</a> |
  <a href="{% url 'spr_index' %}">Strelne prostory</a> |
  <a href="{% url 'rez_index' %}">Rezervace</a> |
  <a href="{% url 'str_index' %}">Strelby</a>
</nav>
<h1>Rezervace</h1>
{% for rez in rezervace %}
<li> <a href = "{% url 'rez_name' rez.idRez %}">{{ rez.idRez }}</a> rezervovano {{ rez.datumVytvoreni }} na {{ rez.datumStrelby }} {{ rez.idZak }} {{ rez.idZbr }} {{ rez.idSpr }}</li>
{% endfor %}
</body>
</html>