<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Zakaznici</title>
</head>
<body>

<nav>
  <a href="{% url 'zbr_index' %}">Zbrane</a> |
  <a href="{% url 'zam_index' %}">Zamestnanci</a> |
  <a href="{% url 'zak_index' %}">Zakaznici</a> |
  <a href="{% url 'spr_index' %}">Strelne prostory</a> |
  <a href="{% url 'rez_index' %}">Rezervace</a> |
  <a href="{% url 'str_index' %}">Strelby</a>
</nav>

<h1>Zakaznici</h1>

<a href = "{% url 'zak_narozen_search' %}">Vyhledavani dle data narozeni.</a>
{% for zak in zakaznici %}
<li> <a href = "{% url 'zak_name' zak.idZak %}">{{ zak.jmeno }} {{ zak.prijmeni }} {{ zak.email }}</a></li>
{% endfor %}
</body>
</html>