<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Zbran</title>
</head>
<body>

<nav>
  <a href="{% url 'zbr_index' %}">Zbrane</a> |
  <a href="{% url 'zam_index' %}">Zamestnanci</a> |
  <a href="{% url 'zak_index' %}">Zakaznici</a> |
  <a href="{% url 'spr_index' %}">Strelne prostory</a> |
  <a href="{% url 'rez_index' %}">Rezervace</a> |
  <a href="{% url 'str_index' %}">Strelby</a>
</nav>

<h1>Zbran</h1>
Zbran {{ zbran.nazev }} {{ zbran.typ_zbrane }} raze {{ zbran.raze }}mm vyrobena {{ zbran.rok_vyroby }}

<a href = "{% url 'zbr_index' %}">Navrat na index.</a>
</body>
</html>